<div style="text-align:center">
  <h1>
    Users
  </h1>
</div>
<h2 *ngIf="alert">{{alert.message}}</h2>
<form novalidate [formGroup]="user" (ngSubmit)="submit()">
  <label for="">
    Nome
    <input type="text" formControlName="nome" name="nome">
  </label>
  <button type="reset" [disabled]="!nome.value">Limpar</button>
  <button [disabled]="!enableToSave">Salvar</button>
</form>
<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Editar</th>
      <th>Remover</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users | async">
      <td>{{user._id}}</td>
      <td>{{user.nome}}</td>
      <td>
        <button type="button" (click)="update(user)">Editar</button>
      </td>
      <td>
        <button type="button" (click)="remove(user)">Remover</button>
      </td>
    </tr>
  </tbody>
</table>

